// Boostrap variables:
$component-active-bg: #7329a8;
$primary:       	#7329a8; //$blue;
//$secondary:     $gray-600;
//$success:       $green;
//$info:          $cyan;
//$warning:       $yellow;
//$danger:        $red;
//$light:         $gray-100;
//$dark:          $gray-900;

:root {
	--bg-component: #{$primary};
}

@import '~bootstrap/scss/bootstrap';
@import './style.css';
@import './forms.css';
@import '~flag-icon-css/sass/flag-icon';

