body{
	margin:0px;
	padding:0px;
	font-family:'Source Sans Pro', sans-serif; 
}

.navegacion{
	background: rgb(140, 84, 180);
	background: linear-gradient(228deg, rgba(140,84,180,1) 38%, rgba(111,152,212,1) 100%); 
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: aliceblue;
}

.cabeza{
	color:#713c98;
}

.formulario{
	background-color:#f6f5f5;


}