body{
	margin:0px;
	padding:0px;
	font-family:'Source Sans Pro', sans-serif; 
}

.navegacion{
	background: rgb(140, 84, 180);
	background: linear-gradient(228deg, rgba(140,84,180,1) 38%, rgba(111,152,212,1) 100%); 
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: aliceblue;
}

.cabeza{
	color:#713c98;
}

.footer_color{
	color:#713c98;
}
.title_under_navBar{
	color:#713c98;
}

.formulario{
	background-color:#f6f5f5;
}

.cartas{
	display:flex;
	justify-content: center;
	align-items: center;
	background-color:#f6f5f5;
}

.titulo2{
	color:#713c98;
}

.botoncitos{
	background-color:#7329a8;
}

.form_login{
	padding-bottom: 3rem;
}

.btn-primary{
	background-color:#7329a8 !important;
	font-weight: bold;
}

.btn-primary:hover {
	color: #7329a8;
	background-color: white;
}

.card-body button a{
	text-decoration: none;
	color: white;
}

