.navegacion{
	background: rgb(140,84,180);
	background: linear-gradient(228deg, rgba(140,84,180,1) 38%, rgba(111,152,212,1) 100%); 
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1{
	background-color: red;
}