html, body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	overflow-x: hidden;
}

body{
	font-family:'Source Sans Pro', sans-serif; 
}

.start-7 {
	left: 7%;
}

.navegacion{
	background: rgb(140, 84, 180);
	background: linear-gradient(228deg, rgba(140,84,180,1) 38%, rgba(111,152,212,1) 100%); 
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	color: aliceblue;
}
.rapidoLogo > img {
	width: 80%;
}

.cabeza{
	color:#713c98;
}

.footer_color{
	color:#713c98;
}
a.footer_color {
	text-decoration: none;
}
a.footer_color:hover {
	text-decoration: underline;
}
.title_under_navBar{
	color:#713c98;
}

.formulario{
	background-color:#f6f5f5;
}

.cartas{
	display:flex;
	justify-content: center;
	align-items: center;
	background-color:#f6f5f5;
}

.titulo2{
	color:#713c98;
}

.botoncitos{
	background-color:#7329a8;
}

.boton-Micuenta{
	color:rgb(111,152,212,1);
}

.form_login{
	padding-bottom: 3rem;
}
/*
.btn-primary{
	background-color:#7329a8 !important;
	font-weight: bold;
}
*/
.btn-primary:hover {
	color: #7329a8 !important;
	background-color: white !important;
}

.card-body button a{
	text-decoration: none;
	color: white;
}

.cards-detalles{ 
box-shadow:0px 0px 5px black;
}

/* ---------------------- navbar ------------------------------------*/
@media (max-width: 991.98px) {
  #navbarResponsive.show > ul {
    display: block;
    position: absolute;
    top: 106px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 8px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
    z-index: 99;
    height: 400px;
    background: linear-gradient(228deg, rgba(140,84,180,1) 38%, rgba(111,152,212,1) 100%);
    padding: 10px;
  }

	#mainNav {
		height: 100px;
	}

	.nav-logo{
		margin-top: -40px;
	}

	#mainNav .navbar-toggler{
		margin-top: -27px;
	}
}